<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <title>Africa Energy & Population Explorer</title>

  <!-- Leaflet 読み込み -->
  <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet/dist/leaflet.css"
  />
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>

<body>
  <h1>Africa Energy Finder</h1>

  <!-- 検索フォーム -->
  <div>
    <form action="/project" method="post"> 
        <input type="text" name="keyword" placeholder="キーワードを入力"> 
        <button type="submit">Search</button> 
    </form>

  </div>

  <!-- 検索結果 -->
  <h2>Result</h2>

    <div class="results">
            {% if results %}
                <p>{{ results|length }} 件の文献が見つかりました。</p>
                
                {% for item in results %}
                <div class="result-card">
                    <h2><a href="{{ item.source_url }}" target="_blank">{{ item.title }}</a></h2>
                    
                    <div class="meta-info">
                        著者: {{ item.author }} | 発行: {{ item.year }}
                    </div>

                    <div class="summary">
                        <strong>【要約】</strong><br>
                        {{ item.summary }}
                    </div>

                    <div class="tags">
                        <span class="tag">📍 {{ item.tags.country }}</span>
                        <span class="tag">⚡ {{ item.tags.energy_type }}</span>
                        <span class="tag">🏷️ {{ item.tags.topic }}</span>
                    </div>
                </div>
                {% endfor %}
            
            {% else %}
                <p>該当する文献が見つかりませんでした。</p>
            {% endif %}
            {% if error_message %}
                <p style="color: red;">{{ error_message }}</p>
            {% endif %}
    </div>
    

    
</body>
</html>